/*
0 - 600px: 	Phone; 
600 - 900px: Tablet portrait; 
900 - 1200px: Tablet landscape;	
[1200 - 1800px] is normal styles
1800px + : Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(200%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-weight: normal;
  line-height: 1.7; }

body {
  font-family: "Lato", Arial, Helvetica, sans-serif; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    font-size: 6rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 200;
    animation: moveInLeft 1s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.4s; }
  .heading-primary--sub {
    font-size: 2rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: .6rem;
    font-weight: 600;
    animation: moveInRight 1s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.4s; }

.heading-secondary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: .2rem;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to right, #ff2f4a, #801725);
  -webkit-background-clip: text;
  transition: all .2s ease; }
  .heading-secondary:hover {
    transform: skewX(13deg) skewY(2deg) scale(1.1);
    text-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  color: #b52135;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  color: #b52135; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 12rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-center-text {
  text-align: center !important; }

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .bg-video__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(102, 20, 31, 0.3), rgba(128, 23, 37, 0.3));
    filter: brightness(120%); }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3; }

.btn {
  position: relative; }
  .btn, .btn:link, .btn:visited {
    border: none;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s ease; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .btn:hover::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15); }
  .btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    transition: all 0.3s;
    opacity: 1; }
  .btn--red {
    background-color: #b52135;
    color: #eee; }
    .btn--red::after {
      background-color: #b52135; }
  .btn--white {
    background-color: #fff;
    color: #b52135; }
    .btn--white::after {
      background-color: #fff; }

.btn-link:link, .btn-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 1px solid #b52135;
  color: #b52135;
  padding: 3px 5px;
  transition: all .2s; }

.btn-link:hover {
  background-color: #b52135;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  .btn-link:hover::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; }

.btn-link:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15); }

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    width: 100%;
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ff2f4a, #66121d); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #b52135, #66121d); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #801725, #66121d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__img {
    height: 20rem;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to bottom, transparent -200%, rgba(255, 47, 74, 0.5)), url(../img/card-1.jpg); }
    .card__img--2 {
      background-image: linear-gradient(to bottom, transparent -200%, rgba(181, 33, 53, 0.5)), url(../img/card-2.jpg); }
    .card__img--3 {
      background-image: linear-gradient(to bottom, transparent -200%, rgba(128, 23, 37, 0.5)), url(../img/card-3.jpg); }
  .card__heading {
    position: absolute;
    font-size: 2.8rem;
    text-transform: uppercase;
    right: 0;
    top: 13rem;
    right: 2rem;
    width: 70%;
    font-weight: 200;
    color: #fff;
    text-align: right; }
    .card__heading-span {
      padding: 1rem 2.5rem;
      -webkit-box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 47, 74, 0.8), rgba(102, 18, 29, 0.8)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(181, 33, 53, 0.8), rgba(102, 18, 29, 0.8)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(128, 23, 37, 0.8), rgba(102, 18, 29, 0.8)); }
  .card__detail {
    padding: 3rem; }
    .card__detail ul {
      list-style: none;
      text-align: center;
      margin: 0 auto;
      width: 80%; }
      .card__detail ul li {
        font-size: 1.5rem;
        color: #b52135;
        padding: 0.8rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: solid rgba(181, 33, 53, 0.2) 1px; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-only {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    color: #fff;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 6rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 35rem;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease; }
    .composition__photo--1 {
      top: -3rem;
      left: 0; }
    .composition__photo--2 {
      top: 3rem;
      right: 2rem; }
    .composition__photo--3 {
      top: 13rem;
      right: 10rem; }
    .composition__photo:hover {
      outline: solid #b52135 1rem;
      outline-offset: 1.2rem;
      z-index: 10;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  padding: 2.5rem;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
  transition: all .2s ease; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ff2f4a, #801725);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1rem; }
  .feature-box__text {
    color: #b52135;
    font-size: 1.5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }

.form__group:not(:last-child) {
  margin-bottom: 5rem; }

.form__input {
  display: block;
  font-family: inherit;
  padding: 1.5rem 2rem;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  border-radius: 3px;
  border-bottom: solid transparent 2px;
  transition: all .3s; }
  .form__input:focus {
    border-bottom: solid #b52135 2px; }
  .form__input:focus:invalid {
    border-bottom: solid #ff2f4a 2px; }
  .form__input::-webkit-input-placeholder {
    font-size: 1.5rem; }

.form__label {
  color: #b52135;
  font-family: inherit;
  font-size: 1.3rem;
  position: absolute;
  transition: all .3s;
  transform: translate(2rem, 0rem);
  opacity: 1; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translate(2rem, -3.9rem);
  font-size: 1.5rem; }

.form__radio-input {
  display: none; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-family: inherit;
  font-size: 1.6rem;
  color: #777;
  position: relative;
  padding: 0 5rem;
  cursor: pointer; }

.form__radio-button {
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: #b52135 5px solid;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }
  .form__radio-button::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #b52135;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease; }

.form__radio-input:checked + .form__radio-label .form__radio-button::before {
  opacity: 1; }

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(3px) brightness(80%);
  visibility: hidden;
  opacity: 0; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__box {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.63, 0.18, 0.21, 1.27);
    transform: translate(-50%, -50%) scale(0.2); }
    .popup__box::after {
      content: "";
      display: table;
      clear: both; }
  .popup__left {
    display: table-cell;
    width: 33.333333%;
    height: 100%; }
  .popup__img-box {
    height: 50%; }
  .popup__img {
    width: 100%;
    object-fit: cover;
    display: block; }
  .popup__right {
    height: 100%;
    display: table-cell;
    width: 66.6666667%;
    padding: 3rem 4rem;
    vertical-align: middle; }
  .popup__text {
    font-size: 1.5rem;
    color: #777;
    column-count: 2;
    column-rule: 1px #ccc solid;
    column-gap: 4rem;
    margin-bottom: 4rem; }
  .popup__close {
    position: absolute;
    top: 3rem;
    right: 3rem; }
  .popup__close-icon:link, .popup__close-icon:visited {
    color: #66121d;
    font-size: 2.8rem;
    line-height: 1;
    text-decoration: none; }
  .popup__close-icon:hover {
    color: #b52135;
    cursor: pointer; }
  .popup:target .popup__box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #b52135;
  transform: skewX(-15deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  .story > * {
    transform: skewX(15deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
    transform: skewX(15deg) translateX(-3rem); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.5rem) brightness(80%); }
  .story:hover .story__cap {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all .5s; }
  .story__cap {
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    opacity: 0;
    transform: translate(-50%, 50%);
    transition: all .5s; }
  .story__text p {
    font-size: 1.6rem; }

.footer {
  padding: 10rem 0;
  background-color: #66121d; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 25rem; }
  .footer__navigation {
    padding-top: 2rem;
    border-top: solid 1px #ffecee;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    font-size: 1.4rem;
    color: #ffecee;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all .3s ease; }
  .footer__link:hover {
    transform: rotate(7deg) scale(1.2);
    color: #ffb0c4;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    background-color: #66121d; }
  .footer__copyright {
    padding-top: 2rem;
    border-top: solid 1px #ffecee;
    float: right;
    width: 80%;
    font-size: 1.4rem;
    color: #ffecee; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  background-image: linear-gradient(to right, rgba(181, 33, 53, 0.8), rgba(128, 23, 37, 0.8)), url(../img/hero-1.jpg);
  background-size: cover;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    width: 10rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__text-box .heading-primary--main {
      animation: moveInLeft 1s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.4s backwards; }
    .header__text-box .heading-primary--sub {
      animation: moveInRight 1s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.4s backwards; }
  .header .btn {
    animation: moveInBottom 0.8s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.6s backwards; }

.navigation {
  /* Icon */
  /* Nav */
  /* BG */ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 7rem;
    right: 7rem;
    z-index: 3000; }
  .navigation__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 3rem;
    background-color: #801725;
    transition: all 0.3s ease; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 3rem;
      background-color: #801725;
      position: absolute;
      left: 0;
      transition: all 0.3s ease; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      bottom: -1rem; }
  .navigation__bg {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #b52135, #801725);
    position: fixed;
    top: 7.25rem;
    right: 7.25rem;
    z-index: 2000;
    transition: all 1s ease; }
  .navigation__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2500;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.63, 0.18, 0.21, 1.27) 0.1s; }
  .navigation__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation__item {
    text-align: center; }
    .navigation__item:not(:last-child) {
      margin-bottom: 2.5rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 3.2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s ease; }
  .navigation__link:hover {
    background-position: 100% 0;
    color: #b52135; }
  .navigation__button:hover .navigation__icon::before {
    top: -1.2rem; }
  .navigation__button:hover .navigation__icon::after {
    bottom: -1.2rem; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    transform: rotateZ(225deg);
    top: 0; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    transform: rotateZ(-225deg);
    bottom: 0; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__nav {
    display: block;
    opacity: 1;
    transform: translateX(0); }
  .navigation__checkbox:checked ~ .navigation__bg {
    transform: scale(80); }

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #ffecee; }

.section-features {
  padding: 25rem 0;
  margin-top: -20vh;
  background-image: linear-gradient(to bottom, rgba(255, 47, 74, 0.8), rgba(128, 23, 37, 0.8)), url("../img/hero-2.jpg");
  background-size: cover;
  background-position: 0 35%;
  transform: skewY(-4deg); }
  .section-features > * {
    transform: skewY(4deg); }

.section-seats {
  padding: 25rem 0 15rem;
  margin-top: -20vh;
  background-color: #ffecee; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  .section-stories h2 {
    text-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15); }

.section-book {
  background-image: linear-gradient(to bottom, #ff2f4a, #801725);
  padding: 15rem 0; }
  .section-book .book {
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("../img/form.jpg");
    background-size: cover;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .section-book .book__form {
      padding: 6rem;
      width: 50%; }
