.footer {
	padding: 10rem 0;
	background-color: $color-red-dark-2;
  
	@include respond(tab-port) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;

		@include respond(tab-port) {
			margin-bottom: 6rem;
		}
	}

	&__logo {
		width: 25rem;
	}

	&__navigation {
		padding-top: 2rem;
		border-top: solid 1px $color-red-light-1;
		display: inline-block;

		@include respond(tab-port) {
			width: 100%;
		}
	}

	&__list {
		list-style: none;

		@include respond(tab-port) {
			text-align: center;
		}
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			font-size: 1.4rem;
			color: $color-red-light-1;
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;

			transition: all 0.3s ease;
		}

		&:hover {
			transform: rotate(7deg) scale(1.2);
			color: $color-red-light-3;
			@include shadow(box, lower);
			background-color: $color-red-dark-2;
		}
	}

	&__copyright {
		padding-top: 2rem;
		border-top: solid 1px $color-red-light-1;
		float: right;
		width: 80%;

		font-size: 1.4rem;
		color: $color-red-light-1;

		@include respond(tab-port) {
			float: none;
			width: 100%;
			margin-top: 3rem;
		}
	}
}
