.btn {
	position: relative;

	&,
	&:link,
	&:visited {
		border: none;
		text-decoration: none;
		padding: 1.5rem 4rem;
		border-radius: 50px;
		font-size: $default-font-size;
		display: inline-block;
		text-transform: uppercase;

    transition: all .2s ease;
	}

  &:hover {
    transform: translateY(-.3rem);
		@include shadow(box, light-higher);
		

    &::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0;
    }
  }

	&:active {
    transform: translateY(-.1rem);
		@include shadow(box, light-lower);
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50px;
		z-index: -1;
		transition: all 0.3s;
		opacity: 1;
	}

	&--red {
		background-color: $color-red-primary;
		color: $color-grey-1;

		&::after {
			background-color: $color-red-primary;
		}
	}

	&--white {
		background-color: $color-white;
		color: $color-red-primary;

		&::after {
			background-color: $color-white;
		}
	}

}

.btn-link {
	&:link,
	&:visited {
		display: inline-block;
		text-decoration: none;
		font-size: $default-font-size;
		padding: 1.5rem 0;
		border: none;
		border-bottom: 1px solid $color-red-primary;
		color: $color-red-primary;
		padding: 3px 5px;
		transition: all .2s
	}

	&:hover {
		background-color: $color-red-primary;
		color: $color-white;

    transform: translateY(-.3rem);
		@include shadow(box, light-higher);

    &::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0;
    }
  }

	&:active {
    transform: translateY(-.1rem);
		@include shadow(box, light-lower);

	}

}