body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.heading-primary {
  color: $color-white;

  &--main {
    font-size: 6rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 200;

    animation: moveInLeft 1s $ease-out-back .4s;

  }
  
  &--sub {
    font-size: 2rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: .6rem;
    font-weight: 600;

    animation: moveInRight 1s $ease-out-back .4s;

  }

}

.heading-secondary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: .2rem;
  font-weight: 700;

  color: transparent;
  background-image: linear-gradient(to right, $color-red-light-2, $color-red-dark-1);
  -webkit-background-clip: text;

  transition: all .2s ease;
  
  &:hover {
    transform: skewX(13deg) skewY(2deg) scale(1.1);
    @include shadow(text, light-lower);
  }

}

.heading-tertiary {
  color: $color-red-primary;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  color: $color-red-primary;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}